@{
    ViewData["Title"] = "Erişim Engellendi";
}
<h1 class="text-danger">403 - Yetkisiz İşlem</h1>
<p>Bu sayfaya erişim yetkiniz yok.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Ana sayfaya dön</a>
