@{
    ViewData["Title"] = "Sunucu Hatası";
}
<h1 class="text-danger">500 - Sunucu Hatası</h1>
<p>Sunucuda beklenmeyen bir hata oluştu.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Ana sayfaya dön</a>
